
body {
	margin: 0px;
	padding: 0px;
	background-color: #111;
	color: white;
	font: 14px arial, sans-serif;
}

 p {
	margin: 0px;
	padding: 0px;
}

body > div {
	width: 800px;
	margin: 25px auto;
	/*border: 1px dashed white;*/
	text-align: center;
	/*font: 72px arial, sans-serif;*/
}

div > div:nth-child(1) {
	/*background-color: red;*/
	margin-bottom: 25px;
}

div > div:nth-child(2) {
	/*background-color: yellow;*/
	float: left;
	width: 50%;
}

div > div:nth-child(3) {
	/*background-color: orange;*/
	float: left;
	width: 300px;
}

div table {
	/*width: 100%;*/
	margin: 0px auto;
	padding: 0px;
}

th {
	/*background-color: green;*/
	padding: 7px;
	border: 1px solid white;
}

tr > td:nth-child(1) {
	padding: 1px 15px;
}

#timeText {
	font-size: 72px;
	margin: 50px 0px;
}

button {
	width: 200px;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #80FF00;
	font-size: 34px;
	background: #111;
	padding: 10px 20px 10px 20px;
	border: solid #80FF00 2px;
	text-decoration: none;
}

button:hover {
	background: #80FF00;
	text-decoration: none;
	border: solid #80FF00 2px;
	color: #111;
	cursor: pointer;
}

button:focus {
	outline: none;
}