/*@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic,cyrillic-ext,latin-ext');*/
/* Color palette */
/*
#558C89
#74AFAD
#D9853B
#ECECEA

#E44424
#67BCDB
#A2AB58

#404040
#6DBDD6
#B71427
#FFE658

#005a9d - Mayster corporate color
*/

* {
    margin: 0;
    padding: 0;
    font-family: /*'PT Sans Narrow'*/, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    border: 0;
}

p {
    padding: 0 0 15px 0;
}

form#mform {
    border: 1px solid #005a9d;
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

/* Left Panel */
#mform div.left {
/*    background: #558C89;*/
    border-right: 1px solid #005a9d;
    float: left;
    width: 70%;
    height: 100%;
    position: relative;
}

/* Progressbar */
#mform div.left > div.top {
    width: 100%;
    margin: 15px auto;
    padding: 0px 15px;
}

#progressbar li {
    list-style-type: none;
    float: left;
    width: 20%;
    height: 50px;
    text-align: center;
    margin-bottom: 15px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

#progressbar li:after {
    /* insert whitespace */
/*    margin-top: 15px;*/
    content: '\00a0';
	display: block;
    position: absolute;
    top: 40px;
    height: 10px;
    width: 100%;
	background: white;
    /* Because of border-collapse: collapse; didn't work */
    border-right: 1px solid #005a9d;
    border-top: 1px solid #005a9d;
    border-bottom: 1px solid #005a9d;
    box-sizing: border-box; 
}

#progressbar li:first-child:after {
    /* Because of border-collapse: collapse; didn't work */
    border-left: 1px solid #005a9d;
}

#progressbar .active:after {
    background: #005a9d;
}

#progressbar .pass:after {
    background: #0992fb;
}

#mform div.left > div.content {
/*    background: #ECECEA;*/
/*    height: 80%;*/
    width: 100%;
    /* Scrollbar will appear */
    overflow: auto;
    height: 70%;
/*    padding: 15px;*/
    position: relative;
}

#mform div.left > div.content > fieldset {
/*    overflow: auto;*/
}

#mform div.left > div.bottom {
/*    background: #67BCDB;*/
    border-top: 1px solid #005a9d;
    width: 100%;
/*    height: 10%;*/
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Buttons alignment */
div.left-button {
    float: left;
/*    margin: 5px;*/
}

div.right-button {
    float: right;
/*    margin: 5px;*/
}

.left-button > input, .right-button > input {
    min-width: 100px;
    border: 0;
}

#mform input, #mform textarea {
	border: 1px solid #005a9d;
	width: 100%;
	color: #2c3e50;
    padding: 5px 15px;
}

#mform input[type=radio] {
    display: none;
}

#mform input[type=radio] + label {
    display: inline-block;
/*    margin-left: -5px;*/
    width: 128px;
    height: 118px;
    padding: 25px;
    margin: 5px;
    cursor: pointer;
    color: lightsteelblue;
    border: 2px solid white;
}

#mform input[type=radio] + label:hover > * {
    color: #005a9d;
    color: #005a9d;
    fill: #005a9d;
}

#mform input[type=radio]:checked + label {
/*    background-color: silver;*/
    border: 2px solid #005a9d;
    color: lightsteelblue;
}

#mform input[type=radio] + label > svg {
    /*height: 4em;
    max-height: 4em;*/
    display: block;
    margin: 0px auto;
    fill: LightSteelBlue;
    color: LightSteelBlue;
}

#mform input[type=radio]:checked + label {
    color: #005a9d;
}
#mform input[type=radio]:checked + label > svg {
    fill: #005a9d;
    color: #005a9d;
}

#mform input[type=radio] + label > svg + span {
    margin: 5px auto;
    display: block;
/*    width: 100%;*/
}

#mform input[type=submit]{
    display: none;
}

/* Hide all except first fieldset */
#mform fieldset:not(:first-of-type) {
	display: none;
}

#mform fieldset {
    position: absolute;
    padding: 20px;
    width: 100%;
    text-align: center
}

/* Right Panel */
#mform div.right {
/*    background: #D9853B;*/
    float: left;
    width: 30%;
    overflow: auto;
    height: 100%;
}

dl {
    background-color: lightsteelblue;
    padding: 5px;
}

dt {
    
}

/* Hide all dls except the first one */
#mform dl:not(:first-of-type) {
	display: none;
}

label.error {
    font-size: small;
    color: orangered;
    padding: 5px 0;
    display: block;
}




